@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:500,400,700,600");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/655b5b5e644f323bcc03cc4f.655b5b5f644f323bcc03cc52.655b5c17f4acb9cb5701b449.hcp.png");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');

body {
    overflow-x: hidden;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  position: absolute;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
    font-family: 'Poppins';
}

@media screen and (min-width:1281px) {

    .container-center-horizontal {
      scale: 1.2;
      top: 540px;
    }
  
  }